
<div
layout="row"
md-content
layout-padding
style= "color:red;height:110px; "
>
<h2 class="heading" *ngIf="!this.data">Add New Project</h2>
<h2 class="heading" *ngIf="this.data">Edit Project</h2>
</div>

<div class="container">
  

      <div class="row">
          <div class="col-25">
          <label for="fname"  >ProjectName:</label>
          </div>
          <div class="col-75">
          <input type="text" [(ngModel)]="project.projectname" placeholder="Your projectname.."><br>
          </div>
       </div>
       <div class="row">
        <div class="col-25">
        <label for="fname"  >CustomerName:</label>
        </div>
        <div class="col-75">
        <input type="text"  [(ngModel)]="project.customername"  placeholder="Your customername.."><br>
        </div>
     </div>
     <div class="row">
        <div class="col-25">
        <label for="lname"  >Location:</label>
        </div>
        <div class="col-75">
        <input type="text" [(ngModel)]="project.location"   placeholder="Your locationname.."><br>
        </div>
     </div><br>

     <div class="row">
        
        <button  class="btn btn-success" type="submit" (click)="save()">submit</button>
        <button  class="btn btn-danger" type="cancel" (click)="cancleSubject()">cancel</button>
            
          
        
      </div>
 
</div>